body, html {
  height: 100%;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

strong{
  font-weight: 200;
  font-style: italic;
  color: rgb(96, 136, 247);
  text-transform: uppercase;
}

.tech {
  width: 100%;
  height: 100%;
}

.background-p1 {
  background-color: #212129;
}

.page-load {
  opacity: 0;
  animation: page-load ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.links-nav {
  text-decoration: none;
  color: white;
  animation-name: nav-hover-out;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}

.links-nav:hover {
  text-decoration: none;
  color: white;
  animation-name: nav-hover-in;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}

.parallax {
  background-image: url("./background.jpg");
  min-height: 180px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  background-image: url("./background.jpg");
  min-height: 250px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-p1 {
  border-top: 5px solid	#4c5265;
  border-bottom: 5px solid	#4c5265;
}

.bio{
  background-image: linear-gradient(transparent, transparent, rgb(76,82,101));
  opacity : 0.85;
  border-radius: 120px;
  font-size: 125%;
  height: 105%;
}

#myImg {
  height: 85%;
  width: 90%;
  border-radius: 120px;
}

@keyframes page-load {
  0% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes nav-hover-in {
  from {
    text-decoration: none;
    color: white;
  }
  to {
    text-decoration: underline;
    font-weight: 200;
    font-style: italic;
    color: rgb(96, 136, 247);
  }
}

@keyframes nav-hover-out {
  from {
    text-decoration: underline;
    font-weight: 200;
    font-style: italic;
    color: rgb(96, 136, 247);
  }
  to {
    text-decoration: none;
    color: white;
  }
}