body, html {
  height: 100%;
  color: white;
}

strong{
  font-weight: 200;
  font-style: italic;
  color: rgb(96, 136, 247);
  text-transform: uppercase;
}

.background-p1 {
  background-color: #212129;
}

.parallax {
  background-image: url("./background.jpg");
  min-height: 365px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  background-image: url("./background.jpg");
  min-height: 250px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-p1 {
  border-top: 5px solid	#4c5265;
  border-bottom: 5px solid	#4c5265;
}

.bio{
  background-image: linear-gradient(transparent, transparent, rgb(76,82,101));
  opacity : 0.85;
  border-radius: 120px;
  font-size: 125%;
  height: 105%;
}

#myImg {
  height: 450px;
  width: 335px;
  border-radius: 30%;
}